$font__main: 'Open Sans', sans-serif;
$font__headings: 'LeituraNewsW01-Roman1', serif;
$font__headings-bold: 'LeituraNewsW01-Roman4', serif;
$font__headings-italic:'LeituraNewsW01-Italic1', serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;